# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/hosts
#
# For information about entries in this file, type "man shorewall-hosts"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-hosts.html
#
###############################################################################
{{ "{:<10} {:<30} {:<50}".format(
'#ZONE',
'HOSTS',
'OPTIONS'
) }}
{%- for id, data in salt['pillar.get']('shorewall:hosts', {})|dictsort -%}
{%-   if data.address is not defined -%}{%- continue -%}{%- endif -%}
{%-   if data.ipv is defined and ipv not in data.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<10} {:<30} {:<50}".format(
data.zone,
data.interface + ':' + data.address,
data.options|default('')
) }} # [ID:{{ id }}] {{ data.comment|default('') }}
{%- endfor %}
