# !!! FILE MANAGED BY SALT !!!
#
# Shorewall -- /etc/shorewall/interfaces
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-interfaces.html
#
###############################################################################
{{ "{:<8} {:<18} {:<50}".format(
'#ZONE',
'INTERFACE',
'OPTIONS'
) }}
{%- if pkg_version|float() >= 4.6 -%}
  {% set format = '?FORMAT' -%}
{%- else -%}
  {% set format = 'FORMAT' -%}
{%- endif %}
{{ format }} 2
{%- for id, ifdata in salt['pillar.get']('shorewall:interfaces', {})|dictsort -%}
{%-   if ifdata.ipv is defined and ipv not in ifdata.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<8} {:<18} {:<50}".format(
ifdata.zone,
ifdata.interface,
ifdata.options|default('')
) }} # [ID:{{id}}] {{ ifdata.comment|default('') }}
{%- endfor %}
