# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/snat
#
# For information about entries in this file, type "man shorewall-snat"
#
# See http://shorewall.net/manpages/shorewall-snat.html for more information
#
###########################################################################################################################################
{{ "{:<20} {:<22} {:<22} {:<10} {:<30} {:<15} {:<10}".format(
'#ACTION',
'SOURCE',
'DEST',
'PROTO',
'PORTS',
'IPSEC',
'MARK'
) }}
{%- for id, snat in salt['pillar.get']('shorewall:snat', {})|dictsort %}
{%-   if snat.action is not defined -%}{%- continue -%}{%- endif -%}
{%-   if snat.ipv is defined and ipv not in snat.ipv -%}{%- continue -%}{%- endif -%}
{%- if snat is string %}
{{ snat }}
{%- else %}
{{ "{:<20} {:<22} {:<22} {:<10} {:<30} {:<15} {:<10}".format(
snat.action,
snat.source|default('-'),
snat.dest|default('-'),
snat.proto|default('-'),
snat.ports|default('-'),
snat.ipsec|default('-'),
snat.mark|default('-')
) }}	# [ID:{{id}}] {{ snat.comment|default('') }}
{%- endif -%}
{%- endfor -%}
