# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/stoppedrules
#
# For information about entries in this file, type "man shorewall-stoppedrules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-stoppedrules.html
#
# See http://shorewall.net/starting_and_stopping_shorewall.htm for additional
# information.
#
###############################################################################
{{ "{:<20} {:<22} {:<22} {:<10} {:<30} {:<20}".format(
'#ACTION',
'SOURCE',
'DEST',
'PROTO',
'DPORT',
'SPORT'
) }}
{%- for id, rule in salt['pillar.get']('shorewall:stoppedrules', {})|dictsort %}
{%-   if rule.action is not defined -%}{%- continue -%}{%- endif -%}
{%-   if rule.ipv is defined and ipv not in rule.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<20} {:<22} {:<22} {:<10} {:<30} {:<20}".format(
rule.action|default('ACCEPT'),
rule.source|default('-'),
rule.dest|default('-'),
rule.proto|default('-'),
rule.dport|default('-'),
rule.sport|default('-')
) }}	# [ID:{{ id }}] {{ rule.comment|default('') }}
{%- endfor %}
