# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tcclasses
#
# For information about entries in this file, type "man shorewall-tcclasses"
#
# See http://shorewall.net/traffic_shaping.htm for additional information.
#
###############################################################################
#INTERFACE	MARK	RATE		CEIL		PRIO	OPTIONS

{%- for rule in salt['pillar.get']('shorewall:tcclasses', {}) %}
{#- skip if ip version does not match #}
{%-   if rule.ipv is defined and rule.ipv != ipv %}{% continue %}{% endif %}

{{ rule.get('interface') }}     {{ rule.get('mark') }}     {{ rule.get('rate') }}     {{ rule.get('ceil', 'full') }}      {{ rule.get('priority') }}     {{ rule.get('options', '') }}

{%- endfor %}

