# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tcdevices
#
# For information about entries in this file, type "man shorewall-tcdevices"
#
# See http://shorewall.net/traffic_shaping.htm for additional information.
#
###############################################################################
#INTERFACE	IN_BANDWITH	OUT_BANDWIDTH	OPTIONS		REDIRECT


{%- for rule in salt['pillar.get']('shorewall:tcdevices', {}) %}
{#- skip if ip version does not match #}
{%-   if rule.ipv is defined and rule.ipv != ipv %}{% continue %}{% endif %}

{{ rule.get('name') }}     {{ rule.get('in_bandwidth', '-') }}     {{ rule.get('out_bandwidth', '-') }} 

{%- endfor %}
