# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tcdevices
#
# For information about entries in this file, type "man shorewall-tcdevices"
#
# See http://shorewall.net/traffic_shaping.htm for additional information.
#
###############################################################################
{{ "{:<15} {:<15} {:<15} {:<25} {:<25}".format(
'#INTERFACE',
'IN_BANDWIDTH',
'OUT_BANDWIDTH',
'OPTIONS',
'REDIRECT'
) }}
{%- for id, rule in salt['pillar.get']('shorewall:tcdevices', {})|dictsort -%}
{%-   if rule.interface is not defined -%}{%- continue -%}{%- endif -%}
{%-   if rule.ipv is defined and ipv not in rule.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<15} {:<15} {:<15} {:<25} {:<25}".format(
rule.interface,
rule.in_bandwidth|default('-'),
rule.out_bandwidth|default('-'),
rule.options|default('-'),
rule.redirect|default('-')
) }}	# [ID:{{ id }}] {{ rule.comment|default('') }}
{%- endfor %}
