# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tcinterfaces
#
# For information about entries in this file, type "man shorewall-tcinterfaces"
#
# See http://shorewall.net/simple_traffic_shaping.htm for additional
# information.
#
###############################################################################
#INTERFACE	TYPE		IN_BANDWIDTH		OUT_BANDWIDTH

{%- for rule in salt['pillar.get']('shorewall:tcinterfaces', {}) %}
{#- skip if ip version does not match #}
{%-   if rule.ipv is defined and rule.ipv != ipv %}{% continue %}{% endif %}

{{ rule.get('name') }}     {{ rule.get('type', '-') }}     {{ rule.get('in_bandwidth', '-') }}     {{ rule.get('out_bandwidth', '-') }} 

{%- endfor %}
