# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tcpri
#
# For information about entries in this file, type "man shorewall-tcpri"
#
# See http://shorewall.net/simple_traffic_shaping.htm for additional
# information.
#
###############################################################################
{{ "{:<8} {:<8} {:<20} {:<20} {:<10} {:<15}".format(
'#BAND',
'PROTO',
'PORT',
'ADDRESS',
'INTERFACE',
'HELPER'
) }}
{%- for id, rule in salt['pillar.get']('shorewall:tcpri', {})|dictsort %}
{%-   if rule.ipv is defined and ipv not in rule.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<8} {:<8} {:<20} {:<20} {:<10} {:<15}".format(
rule.band,
rule.proto|default('-'),
rule.port|default('-'),
rule.address|default('-'),
rule.interface|default('-'),
rule.helper|default('-')
) }}	# [ID:{{ id }}] {{ rule.comment|default('') }}
{%- endfor %}
