# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/tunnels
#
# For information about entries in this file, type "man shorewall-tunnels"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-tunnels.html
#
###############################################################################
{{ "{:<15} {:<10} {:<20} {:<10}".format(
'#TYPE',
'ZONE',
'GATEWAY',
'GW_ZONE'
) }}
{%- for id, tunnel in salt['pillar.get']('shorewall:tunnels', {})|dictsort -%}
{%-   if tunnel.ipv is defined and ipv not in tunnel.ipv -%}{%- continue -%}{%- endif -%}
{%-   if tunnel is string %}
{{ tunnel }}
{%-   else %}
{{ "{:<15} {:<10} {:<20} {:<10}".format(
tunnel.type,
tunnel.zone|default('-'),
tunnel.gateway|default('-'),
tunnel.gw_zone|default('-')
) }}	# [ID:{{ id }}] {{ tunnel.comment|default('') }}
{%-   endif %}
{%- endfor %}
