# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/zones
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS
fw      firewall
{%- for zone in salt['pillar.get']('shorewall:zones', []) %}
{# skip if ip version does not match #}
{%-   if zone.ipv is defined and zone.ipv != ipv %}{% continue %}{%endif %}

# {{ zone }}
# {{ zone.comment if zone.comment is defined else ''}}

{%-   if zone.name is defined %}
{{ zone.name }}{{ ":" + zone.parent if zone.parent is defined else '' }}     {{ zone.get('type', 'ipv{0}'.format(ipv)) }}    {{ zone.get('options', '-') }}    {{ zone.get('in_options', '-') }}    {{ zone.get('out_options', '-') }}
{%-   endif %}
{%- endfor %}
