# !!! FILE MANAGED BY SALT !!!
#
# Shorewall version {{ pkg_version }} -- /etc/shorewall/zones
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
{{ "{:<20} {:<25} {:<25} {:<25} {:<25}".format(
'#NAME[:PARENT]',
'TYPE',
'OPTIONS',
'IN_OPTIONS',
'OUT_OPTIONS',
) }}
{{ "{:<20} {:<25} {:<25} {:<25} {:<25}".format("fw", "firewall", '-', '-', '-') }}
{%- for id, zone in salt['pillar.get']('shorewall:zones', {})|dictsort -%}
{%-   if zone.name is not defined -%}{%- continue -%}{%- endif -%}
{%-   if zone.ipv is defined and ipv not in zone.ipv -%}{%- continue -%}{%- endif %}
{{ "{:<20} {:<25} {:<25} {:<25} {:<25}".format(
zone.name + (":" + zone.parent if zone.parent is defined else ''),
zone.type|default('ipv{0}'.format(ipv)),
zone.options|default('-'),
zone.in_options|default('-'),
zone.out_options|default('-')
) }}	# [ID:{{ id }}] {{ zone.comment if zone.comment is defined else ''}}
{%- endfor %}
